.combat-powerstats {
	width: 100%;
	display: flex;
	align-items: center;
	font-size: 1.2rem;
	font-weight: 800;
}
.combat-powerstats span {
	text-align: center;
	min-width: 30px;
	margin: 0 2px;
}
.combat-powerstats.left-fighter {
	justify-content: flex-start;
}
.combat-powerstats.right-fighter {
	justify-content: flex-end;
}

@media screen and (max-width: 820px) {
	.combat-powerstats__img {
		display: none;
	}
}
