.hero-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 14%;
	border: 1px solid;
	margin: 1%;
	border-radius: 5px;
	box-shadow: 0 0 9px 0px red;
	overflow: hidden;
	background-color: #fff;
	cursor: pointer;
	transition: 0.5s;
	min-width: 155px;
}

.hero-card:hover {
	transform: scale(1.05);
	box-shadow: 0 0 7px 6px #b1b1b1;
}
.combat__heroes-card > .hero-card {
	box-shadow: none;
	border: 1px solid #fff;
}

.combat__heroes-card > .hero-card:hover {
	transform: none;
	box-shadow: none;
}
.hero-card__img {
	max-width: 160px;
}
.hero-card__img img {
	width: 100%;
}
.hero-card__skills {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 10px 0;
}

.hero-card__name {
	text-align: center;
}

.skills__skill-card {
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 0.75rem;
}

.skills__name {
	text-transform: capitalize;
}

.hero-card__skill-bar {
	display: flex;
	width: 50%;
	height: 10px;
	font-size: 0.35rem;
	text-align: center;
	transition: 0.5s;
	overflow: hidden;
	border: 1px solid;
}
.hero-card__progress-bar {
	content: " ";
	width: 0%;
	height: 100%;
	color: #fff;
	transition: 2s;
}
@media screen and (max-width: 1255px) {
	.hero-card {
		width: 23%;
	}
}
@media screen and (max-width: 820px) {
	.hero-card {
		width: 31%;
		box-shadow: none;
		border: 1px solid white;
	}
	.hero-card:hover {
		transform: none;
		box-shadow: none;
	}
	.combat__heroes-card > .hero-card {
		width: 70%;
		flex-direction: row;
	}
}
@media screen and (max-width: 588px) {
	.hero-card {
		width: 46%;
		margin: 2%;
	}
	.combat__heroes-card .skills__skill-card {
		flex-direction: column;
	}
}

@media screen and (max-width: 342px) {
	.hero-card {
		width: 87%;
		margin: 3% 0;
	}
}
