.search-box {
	align-items: center;
	background-color: #fff;
	border-radius: 0 0 5px 5px;
	box-shadow: 0px 0px 7px 0px red;
	display: flex;
	justify-content: center;
	padding: 5px;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 2;
}
.search-box__input {
	align-items: center;
	border: 1px solid;
	border-radius: 5px;
	display: flex;
	justify-content: center;
}
.search-box__input .label-icon {
	align-items: center;
	display: flex;
	padding: 2px;
}

.search-box__input input {
	border: none;
	height: 100%;
	outline: none;
	padding: 5px;
	width: 100%;
}
