.heroes-container {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	width: 85%;
}

.heroes {
	display: flex;
	flex-wrap: wrap;
	margin-top: 1%;
	width: 100%;
}

@media screen and (max-width: 405px) {
	.heroes-container {
		width: 100%;
	}
	.heroes {
		justify-content: center;
	}
}
